<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
       xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
       xsi:schemaLocation="http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans.xsd">

    <!-- Job 配置 -->
    <bean id="commonJob" class="com.platform4j.jobs.service.CommonJob">

    </bean>
    <bean id="commonJobDetail" class="org.springframework.scheduling.quartz.MethodInvokingJobDetailFactoryBean">
        <property name="targetObject" ref="commonJob"></property>
        <property name="targetMethod">
            <value>execute</value>
        </property>
        <property name="concurrent">
            <value>false</value>
        </property>
    </bean>

    <bean id="commonJobTrigger" class="org.springframework.scheduling.quartz.CronTriggerFactoryBean">
        <property name="jobDetail">
            <ref bean="commonJobDetail"/>
        </property>
        <property name="cronExpression">
            <value>0/5 * * * * ? </value>
        </property>
    </bean>

    <bean id="schedulerFactoryBean" lazy-init="false"
          class="org.springframework.scheduling.quartz.SchedulerFactoryBean">
        <property name="triggers">
            <list>
                <ref bean="commonJobTrigger"/>
            </list>
        </property>
    </bean>
</beans>